<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Inicio sesion</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/inicio_sesion.css'%}">
  </head>
  <body>
 
    <div class="container-fluid w-100 p-0 h-100 text-center">


       <!-- Navbar -->

       <nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
        <div class="container-fluid">

          <a class="navbar-brand" href="#"> PETSHOP </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}"> Inicio </a>
              </li>
        
            </ul>
          </div>
        </div>
    </nav>


<div class="container-fluid" id="formu">

  <form method="post" action="#"  id="formulario">
    <div class="container-fluid field">
      <div class="form-group">
        <label for="text">Nombre</label>
        <input type="text" class="form-control" id="Nombre">
        <div id="error" class="alert alert-danger" role="alert" ></div>
      </div>

      <div class="form-group">
        <label for="text">Contraseña</label>
        <input type="password" class="form-control" id="contraseña">
        <div id="error4" class="alert alert-danger" role="alert" ></div>
      </div>

      <button type="submit" class="btn btn-primary" id="iniciar sesion" value="Enviar">Iniciar sesion </button>
    </div> 
    </form>
    <label id="linkRegistro">  <a href="{% url 'Registrar_cuenta' %}"> ¿No tienes cuenta? Registrate!</a></label>
   
</div>

   
   

    <!-- INICIO FOOTER -->
    
    <footer class="bg-dark text-center text-white"> 

      <!-- CONTAINER GRID -->
  
      <div class="container p-4"> 
  
      <!-- SECCION NUESTROS CONTACTOS -->
  
      <section class="mb-4">  
        <h3> Nuestros Contactos </h3>
      </section>
  
      <!-- SECCION DE COLUMNAS -->
  
      <section class="">
  
        <!-- ROW COLUMNAS -->
  
        <div class="row"> 
  
        <!-- COLUMNA: CONTACTOS TELEFÓNICOS -->
  
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0"> 
  
            <h5 class="text-uppercase"> CONTACTO TELEFÓNICO </h5>
  
            <ul class="list-unstyled mb-0">
  
              <li>
                <h6> +569 555 555 55 </h6>
              </li>
              <li>
                <h6> +569 999 999 99 </h6>
              </li>
  
            </ul>
  
          </div>  <!-- FIN COLUMNA: CONTACTOS TELEFÓNICOS -->
  
          <!-- COLUMNA: CONTACTO REDES SOCIALES -->
  
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">  
  
            <h5 class="text-uppercase"> NUESTRAS REDES </h5>
  
            <ul class="list-unstyled mb-0">
  
              <li>
                <a href="#!" class="text-white"> INSTAGRAM : @PETSHOP-VALPARAISO </a>
              </li>
              <li>
                <a href="#!" class="text-white"> FACEBOOK : @PETSHOP-VALPARAISO </a>
              </li>
    
            </ul>
  
          </div>  <!-- FIN COLUMNA: CONTACTO REDES SOCIALES -->
  
          <!-- SPONSORS OFICIALES -->
  
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">  
            <h5 class="text-uppercase"> PROVEEDORES </h5>
  
          <ul class="list-unstyled mb-0">
  
            <li>
              <h6> IDENTIFICADORES - ANIMALES SEGUROS </h6>
            </li>
            <li>
              <h6> TRAJES Y ARNESES - PETLOVERS </h6>
            </li>
      
          </ul>
  
        </div> <!-- FIN SPONSORS OFICIALES -->
  
      </div>  <!-- FIN ROW COLUMNAS -->
  
    </section>  <!-- FIN SECCION DE COLUMNAS -->
  
  </div>  <!-- FIN CONTAINER GRID -->
  
  <!-- Copyright -->
  
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);"></div>
  
  <!-- Copyright -->
  
  </footer> <!-- Final Footer -->


</div>
     
    
      
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
      
  </body>
</html>