#formu{
    margin-top: 3%;
}
footer{
    margin-top: 3%;
}
.form-group{
    text-align: start;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#formuRegistro{
    text-align: start;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
